/* Styles for mobile devices */
@media screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }

  .intro .box {
    left: 0;
  }

  .intro h1 {
    font-size: 24px;
  }

  .intro p {
    font-size: 12px;
  }

  .description {
    height: 600px;
  }

  .description p {
    width: 80%;
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
  }

  .description h2 {
    font-size: 20px;
  }

  .skills_container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    row-gap: 35px;
    overflow: visible;
  }

  .skills .skill_icon {
    width: 50px;
  }

  .skills h3 {
    font-size: 14px;
  }

  .projects {
    height: 1250px;
  }

  .projects_container {
    width: 90vw;
    height: 1250px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .projects .project {
    width: 300px;
    height: 169px;
    margin: 0;
  }

  .project img {
    width: 300px;
    height: 169px;
  }

  .project .project_label {
    width: 73%;
    height: 45px;
    opacity: 93%;
    position: relative;
    top: -65px;
  }

  .project_label h3 {
    font-size: 14px;
  }

  /* edit below */
  section.contact {
    height: 550px;
  }

  .contact .container {
    flex-direction: column;
    height: 500px;
  }

  .contact .left {
    bottom: 0px;
    width: 350px;
    text-align: center;
  }

  .contact h2 {
    margin: 0;
    text-align: center;
    font-size: 22px;
  }

  .contact span {
    width: fit-content;
    display: inline;
    font-size: 15px;
  }

  .contact .right {
    position: static;
    width: 275px;
    margin-right: 20px;
  }

  .contact input {
    width: 100%;
    height: 7px;
  }

  .contact textarea {
    width: 100%;
    height: 100px;
  }

  .contact button {
    width: 109%;
  }

  .copyright {
    height: 50px;
  }
}

/* Styles for tablets and smaller laptops */
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .intro {
    height: 575px !important;
    overflow: hidden;
  }

  .intro .box {
    left: 0px;
  }

  .intro h1 {
    font-size: 32px;
  }

  .intro p {
    font-size: 14px;
  }

  .description p {
    font-size: 15px;
    text-align: center;
    margin-top: 75px;
  }

  .description h2 {
    font-size: 22px;
  }

  .skills_container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 125px;
    row-gap: 5px;
    margin-top: 100px;
  }

  .skills .skill_icon {
    width: 75px;
  }

  .projects {
    height: 800px;
  }

  .projects_container {
    width: 90vw;
    height: 650px;
    margin-top: 25px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 25px;
  }

  .projects .project {
    width: 350px;
    height: 197px;
    margin: 0;
  }

  .project img {
    width: 350px;
    height: 197px;
  }

  .project .project_label {
    width: 77%;
    height: 55px;
    opacity: 93%;
    position: relative;
    top: -75px;
  }

  section.contact {
    height: 600px;
  }

  .contact .container {
    flex-direction: column;
    height: 500px;
  }

  .contact .left {
    bottom: 0px;
    width: 350px;
    text-align: center;
  }

  .contact h2 {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
  }

  .contact span {
    width: fit-content;
    display: inline;
  }

  .contact .right {
    position: static;
    width: 400px;
  }

  .contact input {
    width: 100%;
    height: 10px;
  }

  .contact textarea {
    width: 100%;
    height: 100px;
  }

  .contact button {
    width: 106%;
  }

  .copyright {
    height: 75px;
  }
}
